{% load static %}

<head>
  <title>CRUD DEMO SA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if user.is_authenticated %}
    <div class="topcorner">
      <p>Hola {{ user.username }}!</p>
      <p><a class="link-primary" href="{% url 'logout' %}">Log Out</a></p>
    </div>
    <style type="text/css">
     .topcorner{
       position:absolute;
       top:0px;
       right:0px;
      }
    </style>
    {% endif %}
</head>