{% load static %}
    <link rel="stylesheet" href="https://cdn.usebootstrap.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.usebootstrap.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<style>
  .btn-color{
  background-color: #0e1c36;
  color: #fff;

}

.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}



.cardbody-color{
  background-color: #ebf2fa;
}

a{
  text-decoration: none;
}
</style>
<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="text-center text-dark mt-5">DEMO SA</h2>
        <div class="card my-5">
          <form class="card-body cardbody-color p-lg-5" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <input type="text" class="form-control" id="username" name="username" aria-describedby="username"
                placeholder="Usuario">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" id="password" name="password" placeholder="Contrasena">
            </div>
            <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Ingresar</button></div>
          </form>
             <div class=' h4 mx-auto w-50 m-2 pb-2'>
                {% if message %}
                  <div class='text-center'>
                    {{message}}
                  </div>
                {% endif %}
              <div>
        </div>
      </div>
    </div>
  </div>
