{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="center">
        <input type="text" id="filtra_usuario" placeholder="Usuario..">
    </div>

    <div class="center">
        <a href="{% url 'crea_usuario' %}" class="btn btn-primary" role="button">Agregar Usuario</a>
    </div>
    {% if usuarios %}
    <div class="container">
        <div id="tabla_usuarios">
            <table class="table">
                <thead>
                  <tr>
                      <th>NOMBRE</th>
                      <th>EMPRESA</th>
                      <th>CORREO</th>
                      <th>ROL</th>
                      <th>ACTUALIZAR</th>
                      <th>ELIMINAR</th>
                  </tr>
              </thead>
                <tbody>
            {% for usr in usuarios %}
                <tr>
                    <td>{{ usr.nombre }}</td>
                    <td>{{ usr.empresa }}</td>
                    <td>{{ usr.correo }}</td>
                    <td>{{ usr.rol }}</td>
                    <td><a class="btn btn-primary" href="/crud/actualiza/{{ usr.id }}">Actualizar</a></td>
                    <td><a class="btn btn-primary" href="/crud/elimina/{{ usr.id }}">Eliminar</a></td>
                </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>
	</div>
    {% else %}
        <p>De momento no hay usuarios agregados.</p>
    {% endif %}

    <style type="text/css">
         .center {
            text-align: center;
           }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>
        $("#filtra_usuario").on("change paste keyup", function(event) {
    	event.preventDefault();
        var nombre=$(this).val();
       // ajax call
        $.ajax({
                type: "POST",
                // define url name
                url: "{% url 'lee_usuario' %}",
                data : {
                nombre : nombre,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            // handle a successful response
            success: function (response) {
                $('#tabla_usuarios').html('')
                $('#tabla_usuarios').append('<table class="table"><thead> <tr><th scope="col">NOMBRE</th><th scope="col">EMPRESA</th><th scope="col">CORREO</th><th scope="col">ROL</th><th scope="col">ACTUALIZAR</th><th scope="col">ELIMINAR</th></tr> </thead> <tbody>')
                $.each(response.usuarios, function(i, val) {
                 //append to post
                $('#tabla_usuarios').find('tbody').append('<tr><td>' + val.nombre + '</td><td>' + val.empresa + '</td><td>' + val.correo +'</td><td>'+ val.rol + '</td><td><a class="btn btn-primary" href="/crud/actualiza/'+ val.id +'">Actualizar</a></td>' + '<td><a class="btn btn-primary" href="/crud/elimina/'+ val.id +'">Eliminar</a></td></tr>')
               });
            },
            error: function () {
                alert('Error Occured');
            }
        });
    });
    </script>
{% endblock %}